
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* app css stylesheet */
@import "throbber/_throbber";
@import "sentences/_sentences";

/*
html,
body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
*/
