.sliderContainer {
    .slider {
        width: 100%;
    }
    .label {
        font-weight: bold;
    }
    .inputField {
        text-align: right;
        padding-right: 3px;
        line-height: 30px;
    }
}

