<div ng-controller="sentencesController" class="sentences">

    <div class="row">
        <div class="col-sm-6 col-xs-12 form-group laufzeit">
            <!-- Laufzeit -->
            <label for="laufzeit">Laufzeit:</label>
            <input type="text" class="form-control" name="laufzeit" ng-model="laufzeit" placeholder="Laufzeit">&nbsp;<label for="laufzeit">Jahre</label>
            <hr>
        </div>
    </div>

    <!-- row -->
    <div class="row">
        <div class="col-sm-6 col-xs-12 form-group">
            <p>
                <label for="area">Textfeld:</label>
            <div>
                <!-- TODO: klären, wie die cols gesetzt werden könnten -->
                <textarea rows="4" class="form-control" name="sentence" ng-model="sentence" maxlength="5000" placeholder="Hier ihren Satz eintragen"></textarea>
            </div>
            </p>
            <hr>
        </div>
    </div>

    <!-- row -->
    <!-- http://stackoverflow.com/questions/13047923/working-with-select-using-angulars-ng-options -->
    <div class="row">
        <div class="col-sm-6 col-xs-12 form-group">
            <label for="area">Manipulationsmethode:</label>
            <select name="sentenceMethod" ng-options="item as item.name for item in items" class="form-control" ng-model="sentenceMethod" >
                <option value="" ng-if="!sentenceMethod">--- Bitte wählen ---</option>
            </select>
            <hr>
        </div>
    </div>

    <!-- row -->
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <!-- Berechnen Button -->
            <button type="button" class="btn btn-primary btn-block" ng-click="submitAction()">Feuer frei</button>

            <div ng-if="!error && result">
                <h4>Antwort:</h4>
                <div class="form-group">
                    <textarea rows="3" class="form-control" name="result" ng-model="result" readonly></textarea>
                </div>
                <h4>Antwort als Interpretiertes HTML</h4>
                <div><p ng-bind-html="resultAsHtml"></p></div>
            </div>

            <p ng-if="error" class="sentences_error">ERROR: {{error.message}}</p>

        </div>
    </div>

    <throbber active="active"></throbber>

</div>
